.header-container {
    height: 80vh;
    width: 100%;
    background-color: black;
}

.above-banner {
    position: relative;
    height: 10%;
    width: 100%;
    background-color: black;
}

.pin-img {
    width: 15px;
}

.location-text {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 30px;
    left: 5vw;
    color: white;
}

.header-banner {
    height: 90%;
    background: url("../../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.navbar {
    width: 91%;
    margin: auto;
    padding: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-list {
    display: flex;
    gap: 50px;
    padding: 20px 80px;
    background-color: #07376ba5;
    border-radius: 50px;
}

.nav-item {
    font-size: 30px;
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    border-radius: 16px;
}


.logo-img {
    height: 70px;
}
