:root {
    --blue: #07376bd8 --green:
}


.header-container {
    height: 75vh;
    width: 100%;
    background-color: black;
    background: url("../../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.navbar-container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 20px 40px;
    border-radius: 12px;
    /* clip-path: polygon(3% 0%, 100% 0, 97% 100%, 95% 100%, 100% 100%, 0% 100%); */
}

.banner-text {
    position: absolute;
    bottom: 30%;
    left: 19%;
}

.navbar-list {
    display: flex;
    align-items: center;
    gap: 15px;
}


.nav-item {
    text-decoration: none;
    padding: 10px 30px;
    transition: 0.3s;
}

.navbar-leaf {
    width: 50px;
    height: 50px;
    border-radius: 70px 0;
    transform: rotate(0deg);
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    color: white;
}

.navbar-leaf:hover {
    background-color: #9aeba6c4;
}

.logo-img {
    height: 70px;
}

.buttons-banner {
    margin-top: 60px;
}

.buttons-group {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.learnmore-button {
    font-size: 20px;
    font-weight: 600;
    padding: 20px 40px;
    border-radius: 8px;
    background: #07376bd8;
    color: white;
    border: none;
    transition: 0.3s;
}

.learnmore-button:hover {
    background: #9aeba6;
    color: black;
}

.donate-button {
    font-size: 20px;
    font-weight: 600;
    padding: 20px 40px;
    border-radius: 12px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    transition: 0.3s;
}

.donate-button:hover {
    background: #9aeba6;
    color: black;
}